{% extends "base.html" %}

{% block title %}Вход{% endblock title %}

{% block content %}
  <h1>Вход</h1>
  {% if form.errors %}
    <p> Ваше имя пользователя или пароль неверны. Пожалуйста, повторите попытку</p>
  {% else %}
    {% comment %} <p>Пожалуйста, используйте форму ниже для входа</p> {% endcomment %}
    <p>
      Пожалуйста, воспользуйтесь формой ниже для входа
      Если у вас еще нет аккаунта,
      <a href="{% url 'register' %}">Регистрация</a>
      
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
    <p>
      <a href="{% url "password_reset" %}">
        Забыли пароль?
      </a>
    </p>
  </div>
{% endblock content %}
